.backgroundBoxP{
    /* border: 2px solid red; */
    width: 100vw;
    height: auto;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #a64c76);
}

.upperBoxP{
    /* border: 2px solid green; */
    width: 100vw;
    height: 50vh;
    display: flex;
}

/* .upperUpperBoxP{
  display: flex;
  justify-content: space-around;
} */

.lowerBoxP{
    border-top: 5px solid black;
    width: 100vw;
    height: 40vh;
    display: flex;
}

.upperLeftBoxP{
    /* border: 2px solid yellow; */
    width: 66vw;
    height: 50vh;
}

.upperRightBoxP{
    width: 34vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lowerLeftBoxP{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
}

/* .lowerRightBoxP{
    border-left: 15px solid black;
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
} */

.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
  }
  .file-upload-label {
    cursor: pointer;
    background-color: #ddd;
    padding: 30px 70px;
    border-radius: 40px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
    transform: skewX(0deg);
  }
  .browse-button:hover {
    background-color: rgb(14, 14, 14);
  }
  
.upperUpperBoxP{
    /* border: 2px solid red; */
    height: 25vh;
    width: 55vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upperLowerBoxP{
    /* border: 2px solid yellowgreen; */
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .inputBoxP {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 18px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .inputBoxP::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .inputBoxP:focus {
    border: 2px solid var(--input-focus);
  }

.VideoHeadingP{
    border-bottom: 5px solid black;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assignmentHeadingP{
    border-bottom: 5px solid black;
    height: 5vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.thumbnailtextP{
  margin-top: -7vh;
}

.saveButtonP {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 10vw;
  height: 6vh;
  border-radius: 5px;
  border: 2px solid #323232;
  background-color: #323232;
  box-shadow: 4px 4px white;
  font-size: 17px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}


.inputBoxP.saved {
  background-color: #e0e0e0; 
  border: 1px solid #b0b0b0;
  cursor: not-allowed; 
}

.saveButtonP.saved {
  background-color: #d3d3d3; 
  cursor: not-allowed;
  color: green;
}


